@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.to-violet-200 {
    --tw-gradient-to: #ddd6fe var(--tw-gradient-to-position);
}
.from-slate-50 {
    --tw-gradient-from: #f8fafc var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(248 250 252 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
} */

/* .c {
    --tw-gradient-to: #ddd6fe var(--tw-gradient-to-position);
    --tw-gradient-from: #f8fafc var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(248 250 252 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
} */

::selection {
    color: rgb(250 250 250);
    background-color: rgb(50 50 50);
}

:root {
  font-family: "Rubik", sans-serif;
  /*  */
  max-width: 1280px;
  margin: 0 auto;
  /*  */
  /* color-scheme: light dark; */
  color: rgb(20, 20, 20);
  background-color: rgb(242, 242, 242);
  /* background-color: white; */
  /*  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  */
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*  */

}

body {
    /* --tw-gradient-to: #ddd6fe var(--tw-gradient-to-position);
    --tw-gradient-from: #f8fafc var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(248 250 252 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops)); */
}


.ant-select-selection-item, .ant-select-item-option-content {
    font-weight: 500!important;
    font-family: "Noto Kufi Arabic", sans-serif;
}
